body { margin-top: 50px; background-color: #f4f7f6; }
.container { background: white; padding: 40px; border-radius: 8px; box-shadow: 0 10px 25px rgba(0,0,0,0.1); }
h2 { text-align: center; color: #33c3f0; font-weight: bold; }
th { text-transform: uppercase; font-size: 1.2rem; }
.feta { text-decoration: line-through; color: gray; }
