annotated-types==0.6.0
    # via pydantic
anyio==3.7.1
    # via starlette
click==8.1.7
    # via uvicorn
dnspython==2.4.2
    # via pymongo /permet connexions srv
fastapi==0.110.0
    # framework principal de l'API
uvicorn==0.27.1
    # servidor ASGI per executar FastAPI
pymongo==4.6.2
    # driver per connectar amb MongoDB (motor de base de dades)
pydantic[email]==2.6.3
    # validació de dades i esquemes
python-dotenv==1.0.1
    # per gestionar variables d'entorn des del fitxer .env
typing-extensions==4.10.0
    # via fastapi / pydantic
